
.google-login-button{
    width: 5rem;
}

.calendar-container, .google-login-container{
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 2rem;
    border-radius: 15px;
}

.calendar-container > h2{
    color: var(--black-color);
    border-radius: 15px;
}

.conectar{
    background-color: var(--white-color) !important;
    color: var(--black-color);
    padding: 2rem;
    border-color: var(--gray-color) !important;
}

.conectar .conectar-text, .aviso, .info-small{
    font-size: 1.5rem;
    color: var(--gray-color);
}

.eventos{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-inline: 2rem;
}


.events-list{
    padding-inline: 2rem;
}

.btn-container > .btn-calendar{
    padding: .5rem;
    font-size: 1.3rem;
}

.btn-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}
