.header {
  height: 80px;
  width: 100%;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
  box-sizing: border-box;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius:0;
}

.header-left,
.header-right {
  gap: 2.2rem;
  position: relative;
}

.logo-img {
  width: 8rem;
}

.title {
  font-size: 2rem;
  color: var(--purple-color);
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--green-dark-color);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.bandeira {
  width: 2.9rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.search {
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.search .search-icon {
  position: absolute;
  right: 6px;
  font-size: 2.4rem;
  transition: color 0.3s ease;
  z-index: 2;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.6rem;
  color: var(--green-dark-color);
  width: 0;
  cursor: pointer;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin-right: 40px;
}

.search:hover,
.search.focused {
  width: 30rem;
  background-color: var(--green-light-color);
  padding-left: 15px;
}

.search:hover .search-input,
.search.focused .search-input {
  width: 100%;
  opacity: 1;
  border: 0;
}

.search-input::placeholder {
  color: var(--green-dark-color);
}