.main-page-content {
    margin-block: 8rem;
    min-height: calc(100vh - 8rem);
    box-sizing: border-box;
}

.projects-area {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    width: 100%;
}

.blur-background {
    filter: blur(2px);
    user-select: none;
    transition: filter 0.8s ease;
}

body.no-scroll {
    overflow: hidden;
}


.dados-usuario-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  padding: 3rem 1rem;
}

.user-card {
  display: flex;
  background-color: var(--white-color);
  flex-direction: column;
  justify-content:space-between;
  padding: 3.5rem 2rem;
  border-radius: 1rem;
  width: 100%;
  min-height: min-content;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.user-card h1{
    margin-bottom: 3rem;
}

.user-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
}

.user-info {
    font-size: 1.5rem;
    gap: 1rem;
}

.btn-edit {
  width: 100%;
  background: var(--green-dark-color);
  color: var(--white-color);
  padding: .5rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 3.5rem;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-save {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  background: var(--green-dark-color);
  color: var(--white-color);
}

.btn-cancel {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  background: var(--btn-purple);
  color: var(--white-color);
}



@media screen and (min-width: 768px) {
    .main-page-content {
        margin-top: 0;
    }
}
