.main-page-content {
    margin-block: 8rem;
    min-height: calc(100vh - 8rem);
    box-sizing: border-box;
}

.projects-area {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    width: 100%;
}

.blur-background {
    filter: blur(2px);
    user-select: none;
    transition: filter 0.8s ease;
}

body.no-scroll {
    overflow: hidden;
}



@media screen and (min-width: 768px) {
    .main-page-content {
        margin-top: 0;
    }
}