.main-page-content {
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}

.projects-area {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    width:100%;
}

.blur-background {
    filter: blur(2px);
    user-select: none;
    transition: filter 0.8s ease;
}

body.no-scroll {
    overflow: hidden;
}