.info-page-container p {
  font-size: 1.4rem;
  color: var(--black-color);
}

.info-page-container h2 {
  color: var(--white-color);
}

.btn-back {
    border-radius: 8px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 4px;
}

.info-page-container {
  padding: 2rem;
  animation: fadeIn 0.5s ease-in-out;
}

.info-card {
  border: 1px solid var(--project-bg);
  border-radius: 10px;
  height: 80%;
  padding: 2rem;
  background-color: var(--project-bg);
}

.info-section {
  margin-bottom: 2.5rem;
}

.info-section:last-child {
  margin-bottom: 0;
}

.info-section .subtitles {
  color: var(--black-color);
  margin-bottom: 1rem;
  font-weight: 600;
  border-bottom: 1px solid var(--purple-light-color);
  padding-bottom: 0.5rem;
}

.contact-content, .useful-links {
    border: 1px solid var(--gray-light-color) !important;
    background-color: var(--form-bg);
}

.contact-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.support-email {
  font-weight: bold;
  color: var(--purple-color); 
  text-decoration: none;
}

.support-email:hover {
  text-decoration: underline;
}

.useful-links .p-button {
    margin-right: 1rem;
    color: var(--purple-color);
}

.useful-links .p-button .p-button-label {
    color: var(--purple-color);
}

.acordion-tab {
  font-size: 1.5rem;
}


/* --- PRIME REACT OVERRIDES --- */
.info-card.p-card .p-card-body,
.info-card.p-card .p-card-content {
    padding: 2rem;
    color: var(--black-color);
    background-color: var(--project-bg);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: var(--white-color);
    border: 1px solid var(--gray-light-color);
    color: var(--black-color);
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: var(--purple-light-color);
    border-color: var(--purple-color);
    color: var(--purple-saturated-color);
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: 0 0 0 0.2rem var(--purple-light-color);
}

.p-accordion .p-accordion-content {
    background-color: var(--form-bg);
    color: var(--black-color);
    border: 1px solid var(--gray-light-color);
}

.p-avatar {
    background-color: var(--purple-color);
    color: var(--white-color);
}


/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
