.decor-items {
  position: absolute;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  z-index: 2;
  top: 6.9rem;
  justify-self: center;
}

.decor-1 {
  position: absolute;
  left: 2vw;
  top: 34.1rem;
  height: 2.7rem;
  background-color: var(--pink-color);
  border-radius: 30px;
}

.decor-2 {
  position: absolute;
  left: 6vw;
  top: 30.9rem;
  height: 3.7rem;
  background-color: var(--teal-bright-color);
  border-radius: 30px;
}

.decor-3 {
  position: absolute;
  left: 5.97vw;
  top: 40rem;
  height: 3.3rem;
  background-color: var(--purple-color);
  border-radius: 30px;
}

.decor-4 {
  position: absolute;
  left: 79.35vw;
  top: 28.4rem;
  height: 4rem;
  background-color: var(--teal-bright-color);
  border-radius: 30px;
}

.decor-5 {
  position: absolute;
  left: 83vw;
  top: 32.5rem;
  height: 4.1rem;
  background-color: var(--pink-bright-color);
  border-radius: 30px;
}

.landing-page {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;
  margin-block: 6rem;
  min-width: 90vw;
  background: var(--white-color);
}

#landing_header {
  position: sticky;
  background: var(--white-color);
  top: 0;
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  min-height: 10rem;
  transition: padding 300ms ease-in-out, box-shadow 150ms ease-in-out;
}

#landing_header.sticky {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: nowrap;
  gap: 1.5rem;
  font-size: 1.8rem;
  white-space: nowrap;
}

.nav-group a {
  color: var(--black-color);
  width: fit-content;
  text-decoration: none;
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.nav-group a:hover {
  transform: scale(1.05);
}

.navbar-toggler {
  padding-bottom: 5px;
  height: 5rem;
  width: 5rem;
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none !important;
  border: none !important;
}

#navbarNav {
  display: absolute;
}
#navbarNav li {
  text-align: start;
}

.enter-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1.7rem;
}

.link-borda-roxo,
.link-roxo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.5rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  transition: all 200ms ease-in-out;

  cursor: pointer;
  text-decoration: none;
}

.link-borda-roxo {
  color: var(--purple-dark-color) !important;
  border: 2px solid var(--purple-dark-color);
  background-color: transparent;
}

.link-borda-roxo:hover {
  background-color: var(--purple-dark-color);
  color: var(--white-color) !important;
  transform: scale(1.05);
}

.link-roxo {
  background: var(--btn-purple);
  color: var(--white-color) !important;
  border: none;
}

.link-roxo:hover {
  transform: scale(1.05);
  background-color: var(--purple-dark-color);
}

#inicio {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.topo-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-inicio {
  width: 90%;
  font-family: Sanchez;
  font-size: 5.5rem;
}

.descricao-inicio {
  margin-top: 1.9rem;
  font-family: Sanchez;
  font-size: 2.1rem;
}

.botao-comecar {
  margin-top: 3rem;
  height: 5.5rem;
  width: 31rem;
  font-size: 2.4rem;
}

.blocos-inicio {
  font-size: 2rem;
  display: flex;
  height: 40rem;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  color: var(--white-color);
  gap: 1rem;
  padding: 0 2rem 3rem 2rem;
}

.bloco-roxo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  max-width: 25rem;
  height: 34rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--purple-saturated-color);
}

.bloco-roxo img {
  max-height: 14.7rem;
}

.bloco-verde {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20rem;
  height: 25.2rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--teal-bright-color);
}

.bloco-lilas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 20rem;
  height: 32.6rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--pink-color);
}

.bloco-lilas img {
  max-height: 13rem;
}

.bloco-img {
  display: none;
}

#ferramentas {
  padding-top: 6rem;
  background: var(--purple-dark-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-ferramentas {
  font-size: 4rem;
  margin-bottom: 6rem;
}

.grade-ferramentas {
  justify-content: center;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.bloco-ferramenta {
  display: flex;
  padding: 1.8rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 27.5rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}

.bloco-ferramenta h3 {
  font-weight: 400;
  font-size: 2.4rem;
}

.bloco-ferramenta p {
  font-weight: 200;
  font-size: 1.6rem;
}

.bloco-ferramenta img {
  max-height: 4rem;
}

#preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview wave {
  margin: 0 0 6rem 0;
  max-width: 100%;
}

#preview h1 {
  font-size: 5.5rem;
}

#preview p {
  font-size: 2.1rem;
}

.carousel {
  width: 90%;
  height: 50%;
}

.carousel button.carousel-control-prev,
.carousel button.carousel-control-next {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: var(--gray-color);
  align-self: center;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--green-color),
    var(--green-dark-color)
  );
}

.titulo-sobre h1 {
  color: var(--black-color);
  font-size: 5.5rem;
}

.titulo-sobre p {
  font-size: 2.1rem;
}

.sobre-content {
  padding-block: 7rem;
  display: flex;
  gap: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quem-somos h2 {
  color: var(--black-color) !important;
  font-size: 3.5rem;
  padding-bottom: 3rem;
}

.quem-somos {
  padding: 4rem;
  background: var(--white-color);
  max-width: 80%;
  text-align: left;
  font-size: 2rem;
  border-radius: 2rem;
}

.integrantes {
  font-size: 2rem;
  margin-top: 1rem;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.integrantes > div {
  padding: 0.5rem;
}

.integrantes img {
  height: 90%;
  border-radius: 50%;
}

footer {
  min-height: 37.2rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.footer-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

footer h3 {
  font-size: 2rem;
}

.end-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .decor-items {
    max-width: 75vw;
  }

  .decor-1 {
    left: 2.5vw;
    top: 34.1rem;
  }

  .decor-2 {
    left: 7vw;
    top: 31.9rem;
  }

  .decor-3 {
    left: 5vw;
    top: 41.9rem;
  }

  .decor-4 {
    left: 66.35vw;
    top: 28.4rem;
  }

  .decor-5 {
    left: 69vw;
    top: 32.5rem;
  }

  .landing-content {
    width: 75vw;
  }

  .carousel {
    width: 80%;
    height: 50%;
  }

  .carousel button.carousel-control-prev,
  .carousel button.carousel-control-next {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background: var(--gray-color);
    align-self: center;
  }

  .blocos-inicio {
    width: 90%;
    gap: 3rem;
  }

  .bloco-roxo {
    max-width: 29rem;
    height: 34rem;
  }

  .bloco-verde {
    max-width: 24rem;
    height: 25.2rem;
  }

  .bloco-lilas {
    max-width: 26.2rem;
    height: 32.6rem;
  }

  .bloco-img {
    max-width: 32.5rem;
    height: 41.8rem;
  }

  .bloco-img {
    display: flex;
    overflow: hidden;
    object-fit: contain;
    max-width: 32.5rem;
    height: 41.8rem;
    border-radius: 10px;
  }

  .bloco-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ou use 'contain' se quiser ajustar sem cortar */
    display: block;
    border-radius: 10px; /* opcional, só se quiser que a imagem também seja arredondada */
  }
}
