.login, .register{
  height: 100vh;
}


img {
  cursor: pointer;
}

.card-login , .card-register{
  height: fit-content;
  padding: 3rem 2rem;
}

.logo-h {
  height: 10.4rem;
}

label {
  font-size: 2rem;
  margin-bottom: 6px;
}

.input-text {
  font-size: 1.9rem;
  height: 6rem;
  border-radius: 9px;
  background-color: var(--form-bg);
  border: 1px solid var(--gray-color);
  padding-inline: 20px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: calc(60px - 2px);
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

.input-text:focus {
  border: 2px solid var(--gray-color);
  outline: none;
}

.link-esqueci {
  font-size: 1.8rem;
  cursor: pointer;
}

.link-esqueci:hover {
  color: var(--btn-green);
}

.check-form {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 10px;
}

.btn-acesso-verde,
.btn-change-page {
  font-size: 2.4rem;
  color: var(--white-color);
  display: block;
  padding: 10px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.btn-acesso-verde {
  color: var(--white-color);
  background: var(--btn-green);
  border: none;
}

.btn-acesso-verde:hover {
  transform: scale(1.05);
  background-color: var(--green-dark-color);
}

.btn-change-page {
  color: var(--green-dark-color);
  border: 2px solid var(--green-dark-color);
  background-color: transparent;

  &:hover {
    transform: scale(1.05);
  }
}

.check-label {
  font-size: 1.9rem;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.alert {
  width: fit-content;
  font-size: 1.4rem;
}

.btn-cadastro {
  font-size: 2.4rem;
  color: var(--white-color);
  display: block;
  background: var(--btn-purple);
  padding: 10px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.btn-cadastro:hover {
  text-decoration: none;
  transform: scale(1.05);
}

