:root {
  /* Neutro */

  --project-bg: #F0F0F0;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #4e4e4e;
  --gray-light-color: #d0d0d0;
  --form-bg: rgba(255, 255, 255, 0.15);
  --on-page-link: rgba(91, 69, 132, 0.36);

  /* Roxo */
  --purple-color: #8474a1;
  --purple-light-color: #c8c1d4;
  --purple-dark-color: #383560;
  --purple-saturated-color: #5b4584;

  /* Verde */
  --green-color: #86b6a3;
  --green-dark-color: #58917a;
  --green-light-color: #c1d5cd;
  --teal-color: #54969a;
  --teal-dark-color: #045a5c;
  --teal-bright-color: #08979d;

  /* Rosa */

  --pink-bright-color: #CCABD8;

  --pink-color: #b383c4;

  /* Azul */
  --blue-link-color: #1e76e8;

  /* Erro */
  --error-red-color: #ff4d4d;


  --btn-green: linear-gradient(45deg, var(--green-color), var(--green-dark-color));
  --btn-purple: linear-gradient(45deg, var(--purple-color), var(--purple-saturated-color));
  --bg-gradient: linear-gradient(166deg, var(--purple-color) 0%, var(--green-color) 100%);

  --header-bg: var(--white-color);
  --header-border: var(--gray-light-color);
  --sidebar-bg: var(--white-color);
  --modal-bg: var(--white-color);
  --modal-header-bg: var(--purple-light-color);
  --card-background: var(--form-bg);


  --placeholder-color: var(--black-color);
  --search-placeholder-text-color: var(--black-color);
}

html {
  font-size: 31.25%; /* Mobile first → 1rem = 5px */
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%; /* Desktop → 1rem = 10px */
  }
}

body {
  min-height: 100vh;
  font-family: "Poppins";
  background: var(--bg-gradient);
}

/* Dark Mode */
body.dark-theme {
  /* Neutro (Tema Escuro) */
  --project-bg:rgb(68, 66, 70);
  --white-color: #262628; /* No dark theme, o "white" se torna um cinza escuro */
  --black-color: #ffffff; /* No dark theme, o "black" se torna branco */
  --gray-color: #a0a0a0;
  --gray-light-color: #444c56;
  --form-bg: #22272e;
  --on-page-link: rgba(
    174,
    140,
    235,
    0.36
  ); /* Um roxo mais claro para dark-theme */

  /* Roxo (Tema Escuro) */
  --purple-color: #9f7aea;
  --purple-light-color: #d8b4fe;
  --purple-dark-color: #bb86fc;
  --purple-saturated-color: #7c3aed;

  /* Verde (Tema Escuro) */
  --green-color: #34d399;
  --green-dark-color: #10b981;
  --green-light-color: #6ee7b7;
  --teal-color: #2dd4bf;
  --teal-dark-color: #0891b2;
  --teal-bright-color: #06b6d4;

  /* Rosa (Tema Escuro) */
  --pink-color: #d5b1e0;

  /* Azul (Tema Escuro) */
  --blue-link-color: #5e9dff;

  /* Erro (Tema Escuro) */
  --error-red-color: #ff7d7d;

  /* Gradientes (Tema Escuro) */
  --btn-green: linear-gradient(90deg, var(--green-color), var(--teal-bright-color));
  --btn-purple: linear-gradient(90deg, var(--purple-dark-color), var(--purple-light-color));

  /* Variáveis de texto e componente (Tema Escuro) */
  --header-bg: #2d333b;
  --header-border: var(--gray-light-color);
  --sidebar-bg: #2d333b;
  --modal-bg: #2d333b;
  --modal-header-bg: #4c1d95; 
  --card-background: rgb(0, 0, 0, 0.15);
  --create-card-border: var(--gray-light-color); 
  --create-card-text: var(--black-color);

  --placeholder-color: var(--gray-color);

  --search-placeholder-text-color: var(--black-color); 
}

input,
select {
  padding: 0.8rem 1.2rem;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--gray-light-color);
  font-size: 1.3rem;
  background-color: var(--form-bg);
  width: 100%;
  outline: none;
}

input::placeholder {
  color: var(--placeholder-color);
}

.p-toast {
  font-size: 1.6rem !important;      
  min-width: 320px !important;  
  min-height: 100px !important;    
}

/* Font Faces */
@font-face {
  font-family: "Sanchez";
  src: url("/fonts/Sanchez/Sanchez-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
