.project-card-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-card-item img {
    display: inline;
    width: 2.5rem;
}

.task-name {
    display: inline;
    padding-left: 1.3rem;
}