.schedule-container {
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btns-right {
  display: flex;
  gap: 1rem;
}

.criar-tarefa-btn {
  color: white;
  background: var(--green-dark-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px white solid;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  justify-content: center;
}

.phase-list {
  margin-top: 2rem;
}

.phase-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin-top: 0.5rem;
}


.fechar-schedule-btn{
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border: var(--black-color) 1px solid;
    border-radius: 1rem;
    color: var(--black-color);
}