a {
  text-decoration: none;
}

.sidebar {
  width: 10rem;
  padding-inline: 3rem;
  transition: width 0.3s ease, padding-inline 0.3s ease;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--header-border); 
  height: calc(100% - 80px);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 3rem;
  overflow: hidden;
}

.sidebar.expanded {
  width: 27rem;
  padding-inline: 3rem;
}

.sidebar-menu,
.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.sidebar-item {
  color: var(--purple-dark-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: background 0.2s ease, color 0.2s ease;
  border-radius: 12px;
  text-decoration: none;
}

.sidebar-item:hover {
  text-decoration: none;
  color: var(--purple-saturated-color);
}

.sidebar-icon {
  display: flex;
  font-size: 3rem;
  color: var(--purple-dark-color);
  cursor: pointer;
  transition: transform 0.2s ease;
  align-items: center;
  justify-content: center;
}

.sidebar-label {
  font-size: 1.8rem;
  white-space: nowrap;
  padding-left: 1rem;
  margin-top: 0.4rem;
  opacity: 1;
  transition: opacity 0.3s ease, max-width 0.3s ease, padding-left 0.3s ease;
  max-width: 200px;
  overflow: hidden;
}

.sidebar.collapsed .sidebar-label {
  opacity: 0;
  max-width: 0;
  padding-left: 0;
}

.sidebar-item.on-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8rem;
  width: 80%;
  height: 3.5rem;
  border-radius: 0 10px 10px 0;
  z-index: -1;
  background-color: var(--on-page-link);
}

.sidebar-item.on-page {
  color: var(--black-color);
}