.task-section{
    background: var(--white-color);
    padding: 2rem;
    border-radius: 15px;
}

.task-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 1.5rem;
}

.task-title{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.task-title img{
    height: 3rem;
    margin-right: 1.5rem;
}

.task-data{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    
}

.task-progress{
    width: 71rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    
}

.progress-label{
    width: 15%;
    text-align: right;
    font-size: 2.5rem;
    color: var(--gray-color);
}

.progress{
    width: 80%;
}

.task-table-container{
    min-width: 20px;
    overflow-x: auto;
}

.task-table{
    padding-block: 3rem;
    width: 100%;
}

.task-table th, td{
    white-space: nowrap;
}

.task-table td{
    padding: 1.5rem;
}


.task-table tr img{
    width: 3rem;
}

.table-header th{
    padding: 0 1.5rem;
}
.expand-icon {
    width: 4rem;
    padding: 1rem;
}
