.task-section {
    background: var(--white-color);
    padding: 2rem;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.05);
    border: 1px solid var(--gray-light-color);
    transition: background 0.3s, border 0.3s, box-shadow 0.3s;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.task-header-left,
.task-header-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 35%;
}

.status-circle {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 2px solid var(--purple-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.status-circle.completed {
    background-color: var(--green-dark-color);
    border-color: var(--green-dark-color);
}

.task-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expand-icon {
    color: var(--gray-color);
    width: 4rem;
    padding: 1rem;
}

.colaboradores-container {
    display: flex;
}

.collaborator-avatar,
.completed-task-avatar {
    width: 3.2rem !important;
    height: 3.2rem !important;
    font-size: 1.4rem !important;
    font-weight: 600;
    border: 0.2rem solid var(--white-color);
    transition: border-color 0.3s;
}

.collaborator-avatar {
    background-color: var(--purple-light-color) !important;
    color: var(--purple-saturated-color) !important;
}

.completed-task-avatar {
    background-color: var(--green-dark-color) !important;
    color: #ffffff !important;
}

.colaboradores-container .p-avatar:not(:first-child) {
    margin-left: -1.2rem;
}

.task-header-middle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-header-middle .p-progressbar {
    width: 50rem;
    height: 1.2rem !important;
    border-radius: 1.2rem;
    background-color: var(--purple-light-color);
}

.task-header-middle .p-progressbar .p-progressbar-value {
    background: var(--purple-saturated-color) !important;
    border-radius: 1.2rem;
}

.task-header-middle .p-progressbar .p-progressbar-label {
    display: none !important;
}

.progress-label {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray-color);
    min-width: 4rem;
    text-align: left;
}

.task-table-container {
    padding-top: 1.5rem;
    margin-left: calc(2.4rem + 1.5rem);
    overflow-x: auto;
}

.task-datatable .p-datatable-thead>tr>th,
.task-datatable .p-datatable-tbody>tr>td {
    border: none !important;
}

.task-datatable .p-datatable-thead>tr>th {
    background: transparent !important;
    color: var(--gray-color);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem !important;
}

.task-datatable .p-datatable-tbody>tr {
    background: transparent !important;
    color: var(--black-color);
}

.task-datatable .p-datatable-tbody>tr>td {
    padding: 1.5rem !important;
    font-size: 1.5rem;
    white-space: nowrap;
}

.task-datatable .p-checkbox .p-checkbox-box {
    border-radius: 50% !important;
    border-color: var(--purple-light-color);
    width: 2rem;
    height: 2rem;
}

.task-datatable .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--green-dark-color) !important;
    border-color: var(--green-dark-color) !important;
}

.status-badge {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: capitalize;
}

.status-badge.concluido {
    background-color: var(--green-dark-color);
}

.status-badge.pendente {
    background-color: var(--error-red-color);
}

.dark-theme .task-section {
    box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
}

.dark-theme .collaborator-avatar,
.dark-theme .completed-task-avatar {
    border-color: var(--gray-light-color);
}

.dark-theme .collaborator-avatar {
    background-color: var(--purple-dark-color) !important;
    color: #1c1c1c !important;
}

.dark-theme .status-badge.pendente {
    color: #550505;
    font-weight: 600;
}

.btn-menu-task {
    background-color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px var(--gray-color) solid;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
    color: var(--black-color); 
    transition: all 500ms ease-in-out;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text:hover{
    color: var(--gray-color); 
    transform: scale(0.98);
}

.btn-menu-task a{
    background-color: var(--white-color);
    transition: all 500ms ease-in-out;
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
}

.p-checkbox-box{
    width: 2rem;
    height: 2rem;
}

@media (max-width: 480px) {
    .task-header{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .task-header-left,
    .task-header-right {
        max-width: 100%;
        width: 100%;
    }

    .task-header-right{
        display: flex;
        justify-content: end;
    }

    .task-header-middle .p-progressbar {
        width: 15rem;
    }
}

@media (max-width: 768px) {
    .task-header-middle .p-progressbar {
        width: 30rem;
    }
}
@media (max-width: 1224px) {
    .task-header-middle .p-progressbar {
        width: 20rem;
    }
}