.view-project{
    background: var(--project-bg);
    font-size: 2rem;
    padding: 3rem;
    color: var(--black-color);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.project-header{
    display: flex;
    justify-content: space-between;
}

.project-data h1 {
    font-size: 3.5rem;
}

.project-collaborators h4{
    padding-top: 1rem;
    font-size: 2rem;
}


.project-collaborators ul{
    padding-left: 2.5rem;
}

.btns{
    display: flex;
    gap: 1.8rem;
}

.btns img{
    height: 3rem;
}

.fechar-btn{
    margin-left: 2rem;
}

.project-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0;
}

.criar-tarefa-btn{
    color: white;
    background: var(--green-dark-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 2px white solid;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    justify-content: center;
}

.criar-tarefa-btn img{
    height: 3rem;
}

.project-tasks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

@media (max-width: 480px) {
    .project-options > div{
        flex-direction: column-reverse;
        align-items: end;
        gap: 1.5rem;
    }

    .project-options button{
        max-width: 100%;
        width: 65% !important;
    }
}